{% extends "base.html" %}
{% block content %}
<h1>{{thread.name}}<small> by {{thread.username}}<br>Created: {{thread.created|date('d.m.Y H:i')}}</small>
      <br>
      <a href="{{base_path}}/thread/{{thread.id}}/participants" class="btn btn-default">Participants</a>
  </h1>
  <!-- Painikkeet tähän -->
  <p>
    <a href="{{base_path}}/thread/{{thread.id}}/message/create" class="btn btn-success">Post message</a>
  </p>
  
  <table class="table table-striped">
      <tbody>
          {% for message in messages %}
          <tr>
              <td>
                  <a href="{{base_path}}/user/{{message.user_id}}">{{message.username}}</a>
                  <br>{{message.created|date('d.m.Y H:i')}}<br>
                  {% if (user_logged_in.userrole == 'ADMIN' or user_logged_in.id == message.user_id) %}
                    <a  href="{{base_path}}/message/{{message.id}}/edit" class="btn btn-default btn-sm">Edit</a>
                  {% endif %}
              </td>
              <td>
                  <p>{{message.content}}</p>
                  {% if message.modified > message.created %}
                  <p class="text-muted">Last modified: {{message.modified|date('d.m.Y H:i')}}</p>
                  {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
