{% extends "base.html" %}
{% block content %}
  <h1>Edit thread</h1>

  <form>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" value="{{thread.name}}" type="text">
    </div>
    <div class="form-group">
      <label>By</label>
      <p class="form-control-static"><a href="#">{{thread.user_id}}</a></p>
    </div>
    <div class="form-group">
      <label>Created</label>
      <p class="form-control-static">{{thread.created|date('d.m.Y H:i')}}</p>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </form>
{% endblock %}