{% extends "base.html" %}
{% block content %}
    <h1>Threads</h1>
  
    <p>
        <a href="{{base_path}}/thread/create" class="btn btn-success">Create thread</a>
    </p>
    
    <p>
        {{message}}
    </p>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td></td>
                <td>By</td>
                <td>Created</td>
                <td>Last post</td>
            </tr>
        </thead>
        <tbody>
            <!-- list of threads --->
            {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{base_path}}/thread/{{thread.id}}">{{thread.name}}</a>
                    {% if (user_logged_in.userrole == 'ADMIN' or user_logged_in.id == thread.user_id) %}
                        <a href="{{base_path}}/thread/{{thread.id}}/edit" class="btn btn-link btn-sm">Edit</a>
                    {% endif %}
                </td>
                <td><a href="{{base_path}}/user/{{thread.user_id}}">{{thread.username}}</a></td>
                <td>{{thread.created|date('d.m.Y H:i')}}</td>
                <td>{{thread.lastpost|date('d.m.Y H:i')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}